.nav-bar{
  display: flex;
  justify-content: space-between;
}

.bs--profile {
  position: relative;
  top: 5rem;
}

.nav-bar .logo {
  width: 30%;
}
.menus {
  width: 9%;
  cursor: pointer;
}
.ios--android {
  margin-top: 7rem;
}

.apple {
  margin-right: 2rem;
}

.logo--end {
  
}

.quote--section {
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: grey;
  border-radius: 3vw;
  background-color: #141414;
}

.quote--section:hover {
  background-color: #140410;
}
.try--pd {
  background-image: linear-gradient(grey, #141414);
  color: white;
  padding: 4rem;
  border-radius: 3vw;
  margin-top: 2rem;
}

.ml--j {
  margin-top: 12rem;
}
.nav-links {
  display: none;
}

.profile--info {
  color: white;
  font-weight: 1.5em;
}
.profile--info h5 {
  font-size: 1.5em;
}
.profile--info p{
  color: grey;
}
.profile--adj {
  width: 60%;
}

.mobile-nav li {
  list-style: none;
  line-height: 2;
  position: relative;
  right: 2rem;
}
.mobile-nav {
  background-color: grey;
  color: white;
  width: 3rem;
  float: right;
  text-align: left;
  padding: 4rem;
  position: fixed;
  top: 7rem;
  right: 1rem;
  z-index: 99999999;
  
}
.mobile-nav li a {
  text-decoration: none;
  color: white;
}
.mobile-nav li a:hover {
  color: lightsteelblue;
}

.space-bar {
  padding: 2rem;
  margin: 0.50rem;
}

.ds--color {
  background-color: #141414;
  color: grey;
  font-size: 1.6em;
  padding: 1rem;
  display: flex;
  border-radius: 2vw;
}

.ds--color {
  color: lightgrey;
}

.ds--color img{
  margin-right: 0.50rem;
}

.discount--color {
  color: white;
}

.web-title {
  color: white;
  font-size: 4em;
  line-height: 7rem;
}
.business--handler {
  color: white;
  font-size: 3.1em;
  line-height: 7rem;
}

.business--profile {
  margin-top: 7rem;
}

.gn--color {
  color: #87CEEB;
}
.lightblue--color {
  color: lightblue;
}

.ds--colors {
  color: lightgrey;
  font-size: 1.5em
}
.w-100 {
  width: 100%;
}
.get-started {
  text-align: center;
  padding: 3.5rem;
  border: solid 2px #87CEEB;
  border-radius: 50vw;
  color: #87CEEB;
  font-weight: bold;
  border-right: solid 2px lightblue;
  border-left: solid 2px lightblue;
  font-size: 16px;
}
.ctx {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.active--user section{
  display: flex;
}
.active--user section h5 {
  font-size: 2.1em;
  margin-right: 1rem;
  color: white;
}
.active--user section p {
  position: relative;
  top: 1.6rem;
}

.active--user {
  margin-top: 2rem;
}

.bs--btn {
  border: none;
  padding: 1.5rem;
  color: black;
  font-weight: bold;
  width: 15rem;
  background-image: linear-gradient(lightblue,#87CEEB);
  border-radius: 3vw;
}

.reward--container {
  display: flex;
  color: lightgrey;
  padding: 1rem;
  
}
.reward--container:hover {
  background-color: #141414;
  border-radius: 2vw;
}
.reward--header {
  color: white;
  font-size: 1.3em;
}

.reward--container {
  margin-top: 3rem;
}

.content--div {
  position: relative;
  left: 2rem;
}
.reward-content {
  font-size: 18px;
  width: 70%;
}

.d-flex{
  display: flex;
}

.footer--adj li {
  list-style: none;
  color: grey;
  position: relative;
  left: -3.5rem;
  font-size: 18px;
}
.pt--adj {
  color: white;
}

.footer--adj li:hover {
  color: blue;
}

.--end {
  color: white;
  text-align: center;
  font-size: 18px;
}
.down--apt {
  margin-top: 7rem;
}

@media only screen and (min-width: 768px) {
  .nav-links {
  display: flex;
  justify-content: space-between;
}

.down--apt {
  padding: 2rem;
  margin-top: 7rem;
}

.img--adj {
  width: 95rem;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

.nav-links li a:hover {
  color: grey;
}

.menus {
  display: none;
}

.nav-bar .logo {
  width: 20%;
  position: relative;
  top: -1.5rem;
}
.space-bar {
  padding: 4rem;
  margin: 0.50rem;
}
.ds--colors {
  width: 80%;
}
.active--user {
  display: flex;
  justify-content: space-around;
}
.active--user section {
  display: flex
}
.ct--color {
  width: 50%;
}
.business--handler {
  color: white;
  font-size: 4em;
  line-height: 7rem;
}

}
